<div class="container">
	<div class="h1 title">MVC Framework</div>
	<div class="card-panel doclist z-depth-1">
		<span class="h4">Структура</span>
		<div class="h6 list">
			<span class="h5"><a href="#app" class="a">/app</a></span>
			<ul>
				<li><a href="#config" class="a">/Config</a></li>
				<li><a href="#contr" class="a">/Controllers</a></li>
				<li><a href="#core" class="a">/Core</a></li>
				<li><a href="#model" class="a">/Models</a></li>
				<li><a href="#storage" class="a">/Storage</a></li>
				<ul><li><a href="#extensions" class="a">/Extensions</a></li></ul>
				<li><a href="#vendor" class="a">/Vendor</a></li>
				<li><a href="#views" class="a">/Views</a></li>
			</ul>
			<span class="h5"><a href="#public" class="a">/public</a></span>
			<ul>
				<li><a href="#css" class="a">/Css</a></li>
				<li><a href="#js" class="a">/Js</a></li>
				<li><a href="#images" class="a">/Img</a></li>
			</ul>
		</div>
	</div>
	<div class="grid-template-1 z-depth-1 card-panel">
		<div class="section">
			<div id="app" class="title-line-min h6">App</div>
			<div><p>Папка со всем логическим состовляющим MVC фреймворка</p></div>
		</div>

		<div class="section">
			<div id="config" class="title-line-min h6">Config</div>
			<div><p>Папка с настройками проекта. Главным конфигурационным файлом является root.php</p></div>
		</div>

		<div class="section">
			<div id="contr" class="title-line-min h6">Controllers</div>
			<div><p>Папка с контроллерами</p></div>
		</div>

		<div class="section">
			<div id="core" class="title-line-min h6">Core</div>
			<div><p>Папка содержащая ядро программы: роутинг, контроллер, представление, и модель</p></div>
		</div>

		<div class="section">
			<div id="model" class="title-line-min h6">Models</div>
			<div><p>Папка содержащая модели</p></div>
		</div>

		<div class="section">
			<div id="storage" class="title-line-min h6">Storage</div>
			<div><p>Папка содержащая дополнения / модули для фреймворка</p></div>
		</div>

		<div class="section">
			<div id="extensions" class="title-line-min h6">Extensions</div>
			<div><p>Папка содержащая дополнения</p></div>
		</div>

		<div class="section">
			<div id="views" class="title-line-min h6">Views</div>
			<div><p>Папка содержащая представление</p></div>
		</div>

		<div class="section">
			<div id="public" class="title-line-min h6">Public</div>
			<div><p>Папка содержащая публичные данные, такие как: css, js, и картинки</p></div>
		</div>

		<div class="section">
			<div id="css" class="title-line-min h6">Css</div>
			<div><p>Папка содержащая css стили</p></div>
		</div>

		<div class="section">
			<div id="js" class="title-line-min h6">Js</div>
			<div><p>Папка содержащая Js скрипты</p></div>
		</div>

		<div class="section">
			<div id="images" class="title-line-min h6">Img</div>
			<div><p>Папка содержащая изображения</p></div>
		</div>
	</div>
</div>