<div class="admin">
	<div class="admin-w-1">
		<form action="/admin" method="post">
			<div class="form-input card-panel z-depth-1">
				<div class="input-box">
					<input class="-input" type="text" autocomplete="off" require name="{{input_login}}">
					<span class="-title h3">Логин</span>
				</div>
				<div class="input-box">
					<input class="-input" type="password" require name="{{input_password}}">
					<span class="-title h3">Пароль</span>
				</div>
				<button type="submit" name="button" class="btn waves-effect waves-light -button">Войти</button>
				<a href="/" class="a put-on-bottom">На главную</a>
			</div>
		</form>
	</div>
</div>

<script src="/public/js/form.js"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>