<nav class="teal">
	<div class="nav-wrapper">
		<ul class="right">
			<li>
				<a href="#call_pages" data-call="pages" data-action="/admin/main/pages" data-method="post">Страницы</a>
			</li>
			<li>
				<!-- <a href="#">Ссылка</a> -->
			</li>
			<li>
				<!-- <a href="#">Ссылка</a> -->
			</li>
		</ul>
		<form class="inline" action="/admin/main/" method="post">
			<input type="text" name="admin_exit" value="exit" class="hidden">
			<button href="#" class="waves-effect white-text waves-red btn-flat" type="submit">Выйти</button>
		</form>
	</div>
</nav>