{% extends "default.twig" %}

{% block head %}
    <title>MVC</title>
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
    <div class="entry">
        <div class="row center-xs column">
            <h1>MVC framework</h1>
            <div>Farid Ahmedov</div>
        </div>
    </div>
{% endblock %}
