{% extends "default.twig" %}

{% block head %}
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title h1 m-b-md">MVC</div>
            <div class="title-min m-b-md">Farid Ahmedov</div>
            <div class="links">
                <a href="/documentation">Документация</a>
            </div>
        </div>
    </div>
{% endblock %}
