{% extends "default.twig" %}

{% block head %}
    <title>MVC</title>
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
    <div class="full">
        <div class="row center-xs">
            <h1 class="col-xs-12">MVC</h1>
            <h3 class="col-xs-12">Farid Ahmedov</h3>
        </div>
    </div>
{% endblock %}
